.container {
    position: relative;
    display: flex;
    background-color: var(--image-background);
    border-radius: 10px;

    &[data-size="small"] {
        width: 40px;
        height: 40px;
    }

    &[data-size="medium"] {
        width: 100px;
        height: 100px;
    }

    &[data-size="large"] {
        width: 150px;
        height: 150px;
    }

    &[data-size="xlarge"] {
        width: 200px;
        height: 200px;
    }

    &[data-size="fullWidth"] {
        width: 100%;
        height: auto;
    }
}

.containerRound {
    border-radius: 50%;
}

.spinnerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--loading-background);
    z-index: 1;
}

.image {
    width: inherit;
    height: inherit;
    color: var(--primary-color);
}

.actionsContainer {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.action {
    width: 30px;
    height: 30px;

    path {
        fill: var(--primary-color);
    }
}

.previewImage {
    width: 100%;
    height: 100%;
}