.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.avatar {
    margin-bottom: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.infoItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}