/frontend/build
/frontend/storybook-static
/frontend/node_modules
/frontend/.yarn
/frontend/.eslintcache
*storybook.log
/frontend/.pnp.*
/frontend/.loki/report.html
/frontend/.loki/report.json
/backend/venv
/backend/test.db
/backend/__pycache__
/backend/.env
*.pyc