.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--bg-color-inverted);
}

.links {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
    padding: 10px 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .buttons {
        flex-direction: column;
    }

}

.toggleButton {
    width: 40px;
    height: 40px;
    transform: rotate(180deg);

    path {
        fill: var(--primary-color);
    }
}

.toggleButtonIconInverted {
    transform: rotate(0deg);
}