.container {
    min-width: 360px;
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 4px;
    box-sizing: border-box;
    color: var(--bg-color-inverted);
    font-size: var(--font-size-m);
    text-align: right;
    background-color: var(--bg-color);

    &[data-error="true"] {
        border-color: var(--danger);
    }

    &[data-error="false"] {
        border-color: var(--primary-color);
    }

    &[data-readonly="true"] {
        border-radius: 0;
        border-color: transparent;
        border-bottom-color: var(--primary-color);
    }
}

.label {
    color: var(--primary-color);
    font-size: var(--font-size-m);

    &[data-error="true"] {
        color: var(--danger);
    }

    &[data-error="false"] {
        color: var(--primary-color);
    }
}

.spinnerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.error {
    display: block;
    height: 17px;
    padding-left: 5px;
    font-size: var(--font-size-s);
    color: var(--danger);
}

.emptyImage {
    padding: 5px 7px;
    background-color: var(--image-background);
    font-size: var(--font-size-s);
}