.container {
    position: relative;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 46px;
    width: 140px;
    box-sizing: border-box;
    padding-bottom: 1px;
    font-size: var(--font-size-m);

    &[data-error="true"] {
        color: var(--danger);
    }

    &[data-error="false"] {
        color: var(--primary-color);
    }
}

.input {
    width: 100%;
    min-height: 40px;
    padding: 10px 10px 10px 140px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 4px;
    box-sizing: border-box;
    color: var(--bg-color-inverted);
    font-size: var(--font-size-m);
    text-align: right;
    background-color: var(--bg-color);

    &[data-error="true"] {
        border-color: var(--danger);
    }

    &[data-error="false"] {
        border-color: var(--primary-color);
    }
}
  
.error {
    display: block;
    height: 17px;
    padding-left: 5px;
    font-size: --font-size-s;
    color: var(--danger);
}