.app.cyberpunk {
    --primary-bg-color: #0E0E17;
    --secondary-bg-color: #f14e47;
    --primary-color: #5ef6ff;
    --secondary-color: #5ef6ff;
    --primary-color-inverted: #fff;
    --secondary-color-inverted: #0e0e17;
    --danger: #da192d;
    --image-background: #ebebeb;
    --black: #0D1321;
    --loading-background: rgba(255 255 255 / 70%);
}