.app.dark {
    --primary-bg-color: #212121;
    --secondary-bg-color: #4e4848;
    --primary-color: #FBF4F4;
    --secondary-color: #4e4848;
    --primary-color-inverted: #FBF4F4;
    --secondary-color-inverted: #0D0D0D;
    --danger: #f46c7a;
    --image-background: #aeaeae;
    --black: #0D1321;
    --loading-background: rgba(255 255 255 / 70%);
}