.app.dark {
    --bg-color: #0D1321;
    --bg-color-inverted: #FCF7F8;
    --primary-color: #F0EBD8;
    --secondary-color: #275DAD;
    --primary-color-inverted: #5B616A;
    --secondary-color-inverted: #748CAB;
}