.app.light {
    --primary-bg-color: #FBF4F4;
    --secondary-bg-color: #b8adad;
    --primary-color: #0D0D0D;
    --secondary-color: #FBF4F4;
    --primary-color-inverted: #0D0D0D;
    --secondary-color-inverted: #FBF4F4;
    --danger: #da192d;
    --image-background: #ebebeb;
    --black: #0D1321;
    --loading-background: rgba(255 255 255 / 70%);
}