.app.light {
    --bg-color: #fafafa;
    --bg-color-inverted: #0D1321;
    --primary-color: #5B616A;
    --secondary-color: #748CAB;
    --primary-color-inverted: #888f99;
    --secondary-color-inverted: #c9ddfa;
    --danger: #f33044;
    --image-background: #ebebeb;
    --black: #0D1321;
    --loading-background: rgba(255 255 255 / 70%);
}