.navBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 20px;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--bg-color-inverted);
}

.links {
    display: flex;
    gap: 15px;
}