.container {
    box-sizing: border-box;
}

.text {
    font-size: var(--font-size-m);
}

.titleArticle {
    font-weight: 600;
    font-size: var(--font-size-l);
}

.titleMain {
    font-weight: 600;
    font-size: var(--font-size-xl);
}

.imageTitle {
    font-size: var(--font-size-s);
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.withBorder {
    border-width: 2px;
    border-style: solid;
}

.error {
    display: flex;
    align-items: center;
    color: var(--danger);
    background-color: var(--primary-bg-color);
    border-color: var(--danger);
    font-size: var(--font-size-m);
}