.container {
    display: flex;
}

.fileInput {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.spinnerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.errorWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}