.field {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 4px;
    box-sizing: border-box;
    color: var(--primary-color);
    font-size: var(--font-size-m);
    background-color: var(--primary-bg-color);

    &[data-error="true"] {
        border-color: var(--danger);
    }

    &[data-error="false"] {
        border-color: var(--primary-color);
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        appearance: none;
    }

    &[type="number"] {
        appearance: textfield;

        &:hover,
        &:focus {
            appearance: number-input;
        }
    }

    &:disabled {
        border-color: transparent;
        border-bottom-color: var(--primary-color);
        border-radius: 0;
        cursor: text;
    }
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 46px;
    width: 140px;
    box-sizing: border-box;
    padding-bottom: 1px;
    font-size: var(--font-size-m);

    &[data-error="true"] {
        color: var(--danger);
    }

    &[data-error="false"] {
        color: var(--primary-color);
    }
}

.container {
    position: relative;

    &[data-type="textarea"] {
        .label {
            padding-left: 10px;
        }

        .field {
            min-width: 500px;
            max-width: 500px;
            max-height: 500px;
            min-height: 220px;
            padding: 40px 10px 10px;
            text-align: left;
        }
    }

    &[data-type="input"] {
        .label {
            padding-left: 15px;
        }

        .field {
            min-height: 40px;
            padding: 10px 10px 10px 140px;
            text-align: right;
        }
    }
}

.requiredSymbol {
    margin-left: 5px;
    color: var(--danger);
}
  
.error {
    display: block;
    height: 17px;
    padding-left: 5px;
    font-size: var(--font-size-s);
    color: var(--danger);
}