.container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    max-width: 1300px;
    align-items: center;
}

.skeletonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header {
    position: relative;
    width: 100%;

    &::after {
        position: absolute;
        left: 0;
        bottom: -30px;
        display: block;
        content: '';
        width: 60%;
        height: 3px;
        margin-right: 20%;
        margin-left: 20%;
        background-color: var(--secondary-bg-color);
    }
}

.headerPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 15px;
}
