.appLink {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        opacity: 0.7;
        text-decoration: underline;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--primary-color-inverted);
}